.custom-form {
    padding: 30px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--color-light);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 185, 216);
    color: rgb(28, 26, 29);
    padding: 1.875rem;
}
