
:root {
    --color-primary: #007BFF; 
    --color-secondary: #97add6; 
    --color-dark: #212529; 
    --color-light: #d1e0e4; 
    --font-family: 'Arial', sans-serif; 
}


body {
    font-family: var(--font-family);
    background-color: #f8f9fa; 
}


.custom-navbar {
    background-color: var(--color-dark) ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.custom-navbar .navbar-brand {
    color: var(--color-light);
    font-weight: bold;
}

.custom-navbar .nav-link {
    color: var(--color-light) ;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.custom-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px var(--color-primary);
}


.custom-dropdown:hover .custom-dropdown-menu {
    display: block; 
    border: 1px solid var(--color-primary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.custom-dropdown-menu {
    background-color: var(--color-dark);
    position: absolute; 
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
}

.custom-dropdown-menu .dropdown-item {
    color: var(--color-light);
    background-color: var(--color-dark);
    transition: background-color 0.2s;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}


.custom-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    width: 100%; 
}



.custom-btn {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    color: var(--color-light) !important;
}

.custom-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.custom-btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: var(--color-light) !important;
}

.custom-btn-danger:hover {
    background-color: #c82333 !important;
    border-color: #c82333 !important;
    transform: translateY(-1px);
}


.form-control, .custom-select {
    border: 1px solid var(--color-secondary);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus, .custom-select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

img {
display: flex;
width: 100%;
height: 400px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 196, 238);
    color: rgb(28, 26, 29);
    padding: 1.875rem;
}



@media (min-width: 992px) { 
    .custom-collapse {
        max-height: none; 
        display: flex; 
    }
    .navbar-toggler {
        display:flex; /
    }
}